<div class="container">
    <div class="row">
        <h2 class="title">ToDO</h2>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="form-row">
                <div class="col-md-5">
                    <input type="text" name="title" [(ngModel)]="newTodo.title" placeholder="title" class="form-control" autocomplete="off">
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="newTodo.date" placeholder="completetion" name="dp" ngbDatepicker #d="ngbDatepicker" autocomplete="off">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" (click)="addTodo()">Todo</button>
                </div>
            </div>
        </form>
    </div>

    <table class="table" *ngIf="todos.length>0">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>title</th>
                <th>date</th>
                <th>status</th>
                <th>options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>
                    <i class="fa fa-check-circle" *ngIf="todo.complete"></i>
                    <i class="fa fa-circle-o" *ngIf="!todo.complete"></i>
                </td>
                <td>{{todo.id}}</td>
                <td>{{todo.title}}</td>
                <td *ngIf="todo.date.year && todo.date.month">{{todo.date.year}}-{{todo.date.month}}-{{todo.date.day}}</td>
                <td *ngIf="todo.date && !todo.date.month">{{todo.date}}</td>
                <td *ngIf="!todo.complete">Not Complete</td>
                <td *ngIf="todo.complete">Complete</td>
                <td class="icons">
                    <button class="btn btn-success" (click)="completeTodo(todo)" [disabled]="todo.complete">
                      <i class="fa fa-check"></i>
                  </button>
                    <button class="btn btn-primary" (click)="open(content, todo)">
                    <i class="fa fa-pencil"></i>
                </button>
                    <button class="btn btn-danger" (click)="deleteTodo(todo)">
                    <i class="fa fa-trash"></i>
                </button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Edit update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <ngb-alert *ngIf="isEdited" type="success">
                Todo is Updated Successfully
            </ngb-alert>

            <form [formGroup]="editForm">
                <div class="form-group">
                    <label for="title">Title</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="title" value="{{titleValue}}" formControlName="title" placeholder="title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="date">Date of birth</label>
                    <div class="input-group">
                        <input id="date" class="form-control" formControlName="date" value="{{dateValue}}" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('closed')">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="updateTodo()">Save</button>
        </div>
    </ng-template>

</div>